/* Universal styles */
html {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: black;
}

a {
    color: aquamarine;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

.subhed {
    font-size: 21px;
    color: gray;
}

footer {
    font-size: 21px;
    text-align: right;
    color: gray;
}